**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

# Insert here the module/library import statements

In [1]:
from functools import reduce

In [9]:
import pandas as pd
import numpy as np

In [4]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.0-cp311-cp311-macosx_10_9_x86_64.whl.metadata (19 kB)
Requirement already satisfied: numpy<2,>=1.23.2 in /Users/nikolasstahl/anaconda3/envs/ironhack/lib/python3.11/site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/nikolasstahl/anaconda3/envs/ironhack/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/nikolasstahl/anaconda3/envs/ironhack/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2023.4-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/nikolasstahl/anaconda3/envs/ironhack/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.0-cp311-cp311-macosx_10_9_x86_64.whl (12.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.5/12.5 MB 7.4 MB/s eta 0:00:0000:0100:01
Downloading tzdata-2023.4-py2.py3-none-any.whl (346 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.6/346.6 kB 23.3 MB/s eta 0:00:00
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.2.0 tzdata-2023.4
Note: you may need to restart the kernel to use updated packages.


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

In [11]:
square = []

for i in range(1,21):
    square.append(i ** 2)


print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [12]:
[i**2 for i in range(1, 21)]

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [13]:
sqrt = []

for i in range(1,101):
    sqrt.append(i ** 0.5)

print(sqrt)

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795, 3.3166247903554, 3.4641016151377544, 3.605551275463989, 3.7416573867739413, 3.872983346207417, 4.0, 4.123105625617661, 4.242640687119285, 4.358898943540674, 4.47213595499958, 4.58257569495584, 4.69041575982343, 4.795831523312719, 4.898979485566356, 5.0, 5.0990195135927845, 5.196152422706632, 5.291502622129181, 5.385164807134504, 5.477225575051661, 5.5677643628300215, 5.656854249492381, 5.744562646538029, 5.830951894845301, 5.916079783099616, 6.0, 6.082762530298219, 6.164414002968976, 6.244997998398398, 6.324555320336759, 6.4031242374328485, 6.48074069840786, 6.557438524302, 6.6332495807108, 6.708203932499369, 6.782329983125268, 6.855654600401044, 6.928203230275509, 7.0, 7.0710678118654755, 7.14142842854285, 7.211102550927978, 7.280109889280518, 7.3484692283495345, 7.416198487095663, 7.483314773547883, 7.54983443527075, 7.615773105863909, 7.681145747868608, 7.745966692414834, 7.810249675906654, 7.874007874011811, 7.937253933193772, 8.0, 8.06225774829855, 8.12403840463596, 8.18535277187245, 8.246211251235321, 8.306623862918075, 8.366600265340756, 8.426149773176359, 8.48528137423857, 8.54400374531753, 8.602325267042627, 8.660254037844387, 8.717797887081348, 8.774964387392123, 8.831760866327848, 8.888194417315589, 8.94427190999916, 9.0, 9.055385138137417, 9.1104335791443, 9.16515138991168, 9.219544457292887, 9.273618495495704, 9.327379053088816, 9.38083151964686, 9.433981132056603, 9.486832980505138, 9.539392014169456, 9.591663046625438, 9.643650760992955, 9.695359714832659, 9.746794344808963, 9.797958971132712, 9.848857801796104, 9.899494936611665, 9.9498743710662, 10.0]


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

In [14]:
my_list = []

for i in range(-10,1):
    my_list.append(i)
print(my_list)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]

In [16]:
my_list = [i for i in range(-10,1)]
my_list

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

In [33]:
odds = []

for i in range(1,101):
    if not i % 2 == 0:
        odds.append(i)

In [32]:
odds = [i for i in range(1,101) if not i % 2 == 0]

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [24]:
divisble_by_seven = [i for i in range(1,1001) if i % 7 == 0]

In [31]:
divisble_by_seven = []

for i in range(1,1001):
    if i % 7 == 0:
        divisble_by_seven.append(i)

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [25]:
# You can use the following test string but feel free to modify at your convenience

teststring = 'Find all of the words in a string that are monosyllabic'

In [36]:
non_vowels = []
vowels = "aeiou"
vowels = vowels.lower()
for i in teststring:
    if i not in vowels:
        non_vowels.append(i)
result_string = ''.join(non_vowels)

result_string

'Fnd ll f th wrds n  strng tht r mnsyllbc'

In [39]:
teststring = 'Find all of the words in a string that are monosyllabic'
non_vowels = [i for i in teststring if i not in vowels]

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [45]:
capital_letters = []

sentence = 'The Quick Brown Fox Jumped Over The Lazy Dog'
for i in sentence: 
    if i.isupper() and i != " ":  
        capital_letters.append(i)

capital_letters

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

# Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
 - **Use consonants as the name of the list.**
 
Remember to use list comprehensions and to print your results.

In [48]:
string_ = "The quick brown fox jumped over the lazy dog"

consonants = []
vowels = "aeiou"
vowels = vowels.lower()
for i in string_:
    if i not in vowels:
        consonants.append(i)
result_string = ''.join(consonants)

result_string

'Th qck brwn fx jmpd vr th lzy dg'

# Find the folders you have in your lectures local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

**Hint 2: Watch out for the direction of slashes when writing the path.**

Remember to use list comprehensions and to print your results.

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [60]:
import random
random_lists = []
for i in range(4):
    random_list = []
    for i in range(10):
        random_list.append(random.randint(0, 100))
    random_lists.append(random_list)

In [64]:
random_lists = [[random.randint(0, 100) for i in range(10)] for i in range(4)]
random_lists

[[79, 89, 80, 70, 81, 30, 35, 92, 28, 78],
 [90, 88, 58, 86, 69, 19, 97, 40, 97, 93],
 [99, 66, 74, 36, 42, 19, 2, 54, 22, 49],
 [67, 54, 37, 46, 4, 9, 90, 73, 57, 17]]

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [66]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

flatten_list = []
for x in list_of_lists:
    for i in x:
        flatten_list.append(i)

flatten_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [72]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

In [80]:
floats = []
for x in list_of_lists:
    for i in x:
        floats.append(float(i))

In [81]:
floats = [float(i) for x in list_of_lists for i in x]
floats

[40.0,
 20.0,
 10.0,
 30.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 30.0,
 20.0,
 30.0,
 20.0,
 30.0,
 50.0,
 10.0,
 30.0,
 20.0,
 20.0,
 20.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0]

# Handle the exception thrown by the code below by using try and except blocks.

In [82]:
for i in ['a','b','c']:
    try:
        result = i**2
        print(result)
    except TypeError:
        print(f"Cannot square '{i}'. It is not a numeric value.")

Cannot square 'a'. It is not a numeric value.
Cannot square 'b'. It is not a numeric value.
Cannot square 'c'. It is not a numeric value.

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [83]:
x = 5
y = 0

try:
    z = x / y
except ZeroDivisionError:
    print("Error: Division by zero is not allowed.")
finally:
    print("All Done.")

Error: Division by zero is not allowed.
All Done.

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [85]:
abc=[10,20,20]


try:
    print(abc[3])
except IndexError:
    print("Error, list index out of range")

Error, list index out of range

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 

**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

In [90]:
try:
    a = int(input("Enter a number: "))
    b = int(input("Enter a number: "))

    result = a / b

    print("Result:", result)

except ValueError:
    print("Error: Please enter valid numeric values.")

except ZeroDivisionError:
    print("Error: Division by zero is not allowed.")

Enter a number: 3
Enter a number: 2
Result: 1.5

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [91]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except FileNotFoundError:
    print("No such file or directory")

No such file or directory

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [95]:
fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())

IndentationError: unexpected indent (2250338154.py, line 3)

In [96]:
try:
    open('myfile.txt', 'r')
    line = f.readline()
    i = int(line.strip())

except FileNotFoundError:
    print("Error: The file 'myfile.txt' does not exist.")

except ValueError:
    print("Error: Unable to convert data to an integer.")

Error: The file 'myfile.txt' does not exist.

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [102]:
def linux_interaction():
    try: 
        assert ('linux' in sys.platform), "Function can only run on Linux systems."
        print('Doing something.')
    except AssertionError as i:
        print(f"Error: {i}")

    
linux_interaction()

Error: Function can only run on Linux systems.

Error: Function can only run on Linux systems.


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [6]:
Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))

Enter Total Marks Scored: ass

ValueError: invalid literal for int() with base 10: 'ass'